body{
    background-color: lightblue;

}
section{
    background-color: limegreen;
}
p{
    font-size: 15px;
    font-style: initial;
    font-weight: bolder;
}
h{
    font: 1em sans-serif;
    display: inline;
}