body{
    background-color: lightblue;

}
section{
    background-color: limegreen;
}

ol{
    font-size: 12px;
    font-style: italic;

}
h1{
    font-size: 20px;
    font-style: italic;
    text-align: center;
    width: 750px;
}
a{
    font-style: calc();
}
h2{
    font-size: 16px;
    padding-left: 5x;
    padding-right: 5px;
    margin-top: calc();
    margin-bottom: 1px;
    text-align: center;
    width: 750px;

}
