body{
    background-color: lightblue;

}
section{
    background-color: limegreen;
}
p{
    font-size: 10px;
    font-style: initial;
    font-weight: bolder;
    padding-top: 20px;
    padding-bottom: 15;
}
h{
    font: 1em sans-serif;
    display: inline;
}